#[submodule "source/llvm"]
#	path = source/llvm
#	url = https://github.com/llvm/llvm-project
[submodule "source/minhook"]
	path = source/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "source/qui"]
	path = source/qui
	url = https://github.com/DeepQuantum/qui
[submodule "source/lsp-framework"]
	path = source/lsp-framework
	url = https://github.com/leon-bckl/lsp-framework
